body {
    background: #EFEFEF;
    padding: 105px;
    padding-left:30px;
    padding-right:30px;
}

html{
    overflow-y:scroll ;
}

ul {
    margin-bottom: 0;
}

.accordion{
    background: #FFF;
    border-radius: 30px;
    padding: 40px;
}

.question {
    border-top: 1px solid #EEE;
    padding: 20px;
    cursor: pointer;
    position: relative;
}

.question h2{
    font-size: 18px;
    margin: 0;
    color: #C00C00;
}

.question .glyphicon {
    position: absolute;
    right: 20px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: #C00C00;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.answer p{
    padding: 20px;
}

.accordion li.open .question .glyphicon {
    transform: rotate(180deg);
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}
.accordion li.open .answer {
    max-height: 150px;
}

@media screen and (max-width: 474px) {
    .accordion {
        border-radius: 5px;
        padding: 10px;
    }

    .question {
        border-top: 1px solid #EEE;
        padding: 10px;
        cursor: pointer;
    }

    .question h2{
        font-size: 9px;

    }

    .question .glyphicon {

        size: 5px;

    }

    .answer p {
        font-size: 7px;
        padding: 10px;
    }
    

    
    .text-success{
        font-size:5px;
    }
    
    a {
        font-size:5px;
        text-align: center;
    }
    
    .center {
        border: 5px solid #FFFF00;
        text-align: center;
    }
    

}
